html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
    --main-color: purple;
    --secondary-color: rgb(215, 43, 215);
    --secondary-color-focus: rgb(147, 44, 147);
    --primary-color: rgb(255, 255, 255,.9);
    --alternate-color: black;
    --alternate-color-focus: rgb(0, 0, 0,.5);
    background-color: rgb(167, 88, 240);
    font-family: 'Edu SA Beginner',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-color);
    display: block;
    font-weight: 600;
    font-size: calc(20px + 2vw);
    text-align: center;
    text-shadow: 6px 6px 10px var(--alternate-color);
    padding: 1rem;
    margin-left: 8vw;
    width: 80vw;
    white-space: nowrap;
}

.addTaskButton, fieldset, .taskContainer, .taskDetailsContainer, 
.formButtonsContainer > button, .addSubtaskButton, .detailsButton{
    background-color: var(--primary-color);
    color: var(--main-color);
    border: solid 2px var(--main-color);
    border-radius: 20px;
    box-shadow: 6px 6px 10px var(--main-color);;
}

.addTaskButton, .formButtonsContainer > button, .addSubtaskButton, 
.detailsButton{
    padding: calc(10px + 1vw);
    font-weight: 600;
    font-size: calc(15px + 1vw);
    margin-right: 8vw;
    white-space: nowrap;
}

.addTaskButton:hover, .taskContainer:hover, 
.formButtonsContainer > button:hover, .addSubtaskButton:hover, 
.detailsButton:hover{
    cursor: pointer;
    color: var(--secondary-color);
    transform: translateY(-2px);
    box-shadow: 6px 6px 10px var(--secondary-color);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 20vh;
    gap: 2rem;
}

.formButtonsContainer{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-left: 10vw;
}

fieldset{
    width: 90vw;
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
    font-size: calc(20px + 1vw);
}

legend{
    color: var(--alternate-color);
    position: absolute;
    top: 2vh;
    font-size: calc(20px + 2vw);
    font-weight: 600;
    text-decoration: underline;
}

.inputContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input{
    width: 85%;
    text-align: center;
    padding: 2vh;
    padding-left: 12px;
    border-radius: 20px;
    border: solid 2px var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus {
    outline: none;
    border: 3px solid var(--secondary-color);
    box-shadow: 0px 4px 5px var(--alternate-color-focus), 0px -4px 5px var(--alternate-color-focus);
}

input[id="description"], input[id="notes"]{
    height: 40vh;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

select{
    width: 40%;
    appearance: none;
    text-align: center;
    margin-bottom: 2vh;
    padding: 8px;
    padding-left: 12px;
    border-radius: 20px;
    border: solid 2px var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

select:focus{
    outline: none;
    border: 3px solid var(--secondary-color);
    box-shadow: 0px 4px 5px var(--alternate-color-focus), 0px -4px 5px var(--alternate-color-focus);
}

.statusCategorieContainer{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: .5rem;
    padding: .5rem 1rem;
    border-radius: 20px;
    border: solid 2px var(--main-color)
}

.statusCategorieContainer > label{
    color: var(--alternate-color);
    font-weight: 600;
    font-size: calc(15px + 2vw);
    white-space: nowrap;
}

input[type="radio"]{
    width: 20px;
}

input[type="radio"]:focus{
    box-shadow: none;
}

textarea{
    font-size: 1.5rem;
    margin-bottom: 20px;
    width: 80%;
    padding: 1rem;
    border-radius: 20px;
    border: solid 2px var(--main-color);
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea:focus{
    font-size: 1.5rem;
    outline: none;
    border: 3px solid var(--secondary-color);
    box-shadow: 0px 4px 5px var(--alternate-color-focus), 0px -4px 5px var(--alternate-color-focus)
}

.subtasksInputContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin-bottom: 4vh;
}

.subtasksLabels, .subtaskInputs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: .5vh 2vw;
}

.subtaskNameLabel{
    padding-left: 5vw;
}

.subtaskStatusLabel{
    padding-left: 10vw;
}

.subtaskInputs > input[type="text"]{
    width: 80%;
    height: 40%
}

.subtaskInputs > select{
    height: 100%;
    margin: 0;
}

.addSubtaskButtonContainer{
    display: flex;
    justify-content: center;
}

.addSubtaskButton{
    padding: 1rem 2rem;
    margin-left: 8vw;

}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin: 5vh 10vw;
}

.taskContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    padding-top: 4vh;
    position: relative;
}

.taskContainer > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.taskContainer > section p:not([class$="Label"]), .taskAttributeContainer > p:not([class$="Label"]){
    font-weight: 600;
    color: var(--alternate-color);
}

.tackButton{
    border-radius: 100%;
    padding: 12px;
    background-color: var(--secondary-color);
    border: solid .5px var(--alternate-color);
    border-left: .3vw solid var(--alternate-color);
    border-bottom: .3vw solid var(--alternate-color);
    position: absolute;
    top: -6%;
    right: 40%;
    box-shadow: -10px 10px 0px var(--secondary-color-focus),
    -13px 13px 0px var(--alternate-color);
}

.tackButton:hover{
    padding: 13px;
    cursor: pointer;
    transform: translateY(-2px);
}

.detailsButton{
    font-size: 1rem;
    padding: .5vh 1vw;
    margin-left: 8vw;
    margin-bottom: 3vh;
}

.taskDetailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90vw;
    margin: 8vh 3vw;
    padding: 2vh 2vw;
    font-weight: 400;
    font-size: calc(20px + 1vw);
}

h2{
    font-size: calc(20px + 2vw);
    font-weight: 600;
    color: var(--alternate-color);
    text-decoration: underline;
}

.taskAttributeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.taskAttributeContainer > p{
    text-align: center;
}

.subtaskContainer{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--alternate-color);
    border-radius: 20px;
    border: solid 2px var(--main-color);
    white-space: nowrap;
    padding: 1rem 2rem;
}

.subtaskContainer > ion-icon{
    color: var(--main-color);
}


footer{
    display: block;
    text-align: center;
    margin: 20px;
    background-color: var(--primary-color);
    padding: 10px;
    font-size: 100%;
    margin-left: 30vw;
    width: 40%;
    border-radius: 20px;
    position: relative;
    bottom: 0;
}

@media (min-width: 500px) {
    fieldset, .taskDetailsContaine{
        width: 70vw;
    }
}

@media (min-width: 780px) {
    fieldset, .taskDetailsContaine{
        width: 50vw;
    }
}

  
  
  
  
  
